@import '../../../../styles/variables';

.special-offers {
  display: flex;
  flex-direction: column;

  h2 {
    margin-bottom: 16px;
  }

  &__item {
    margin-bottom: 5px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}
