@import '../../../../styles/variables';

.special-offers {
  display: flex;
  flex-direction: column;

  &__item {
    height: 150px;
    margin-bottom: 5px;
    border: 1px solid $border-light;
    border-radius: 2px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}
