/* Coolors Exported Palette - coolors.co/14453d-79b473-43c59e-00ffc5-1adfee */
$color1: rgba(20, 69, 61, 1);
$color2: rgba(121, 180, 115, 1);
$color3: rgba(67, 197, 158, 1);
$color4: rgba(0, 255, 197, 1);
$color5: rgba(26, 223, 238, 1);

$white: #fff;
$black: #000;

$border: lighten($black, 30%);
$border-light: lighten($black, 70%);
