@import '../../../../../styles/variables';

.catalogue-item {
  position: relative;

  &:hover {
    background-color: fade_out($black, 0.8);
  }

  &__title {
    padding: 10px 13px 10px 3px;
    cursor: pointer;

    &:hover + .catalogue-item__children {
      display: block;
    }

    &.folder::after {
      content: '>';
      position: absolute;
      right: 3px;
      transform: scale(0.75, 1);
    }
  }

  &__children {
    display: none;
    position: absolute;
    min-width: 150px;
    top: 0;
    left: 100%;
    z-index: 100;
    white-space: nowrap;
    background-color: $white;
    box-shadow: 2px 2px 3px 0 rgba(0,0,0,0.75);

    &:hover {
      display: block;
    }
  }
}
