@import '../styles/variables';

.app {
  display: grid;
  height: 100vh;
  grid-template:
    'header header header'
    'left-sidebar content right-sidebar'
    'footer footer footer';

  grid-template-columns: 250px auto 250px;
  grid-template-rows: 250px auto 30px;

  &__header {
    grid-area: header;
  }

  &__content {
    grid-area: content;
    padding: 16px;
    display: flex;
    justify-content: center;
  }

  &__left-sidebar {
    grid-area: left-sidebar;
    padding: 0 10px 10px 10px;
  }

  &__right-sidebar {
    grid-area: right-sidebar;
    padding: 0 10px 10px 10px;
  }

  &__footer {
    grid-area: footer;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $color3;
  }
}
