<div class="app">
  <header class="app__header">
    <ts-header></ts-header>
  </header>

  <aside class="app__left-sidebar">
    <ts-catalogue [catalogueItems]="catalogueItems$ | async"></ts-catalogue>
  </aside>
  <section class="app__content">
    <router-outlet></router-outlet>
  </section>
  <aside class="app__right-sidebar">
    <ts-special-offers [products]="specialOffers$ | async"></ts-special-offers>
  </aside>

  <footer class="app__footer">&copy; 1996-2018, Test-shop.com</footer>
</div>
