<div class="app">
  <header class="app__header">
    <div class="app__logo">
      <h1>Test Shop</h1>
    </div>
    <div class="app__search">
      <input class="app__search-input" type="search" placeholder="Search">
    </div>
    <div class="app__shopping-cart">shopping-cart</div>
    <nav class="app__main-menu">
      <div class="app__main-menu-item">Home</div>
      <div class="app__main-menu-item">Warranty</div>
      <div class="app__main-menu-item">Payment and delivery</div>
      <div class="app__main-menu-item">About us</div>
      <div class="app__main-menu-item">Contacts</div>
    </nav>
  </header>

  <main class="app__main">
    <router-outlet></router-outlet>
  </main>

  <footer class="app__footer">&copy; 1996-2018, Test-shop.com</footer>
</div>
