@import '../../../styles/variables';

.category {
  display: flex;
  flex-direction: column;

  &__content {
    display: flex;
  }

  &__info {
    width: 50%;
    min-width: 600px;
  }

  &__preview {
    float: left;
    margin-right: 16px;
  }

  &__name {
    margin: 0;
    line-height: 1em;
  }

  &__subcategories {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    min-width: 300px;
    padding: 8px;
    margin-top: -16px;
  }

  &__subcategory {
    margin: 8px;
  }

  &__products {
    display: flex;
    flex-wrap: wrap;
  }

  &__product {
    margin: 0 16px 16px 0;
  }
}
