<div class="category">
  <div class="category__content">
    <div class="category__info">
      <img class="category__preview" [src]="(category$ | async)?.preview" [alt]="(category$ | async)?.name">
      <h1 class="category__name">{{ (category$ | async)?.name }}</h1>
      <p class="category__description">{{ (category$ | async)?.description }}</p>
    </div>
    <div class="category__subcategories" *ngIf="(subcategories$ | async)?.length">
      <ts-subcategory  class="category__subcategory"
                       *ngFor="let subcategory of (subcategories$ | async)"
                       [subcategory]="subcategory">
      </ts-subcategory>
    </div>
  </div>
  <div class="category__products" *ngIf="(products$ | async)?.length">
    <div class="category__product" *ngFor="let product of (products$ | async)" [routerLink]="product.url">
      <img [src]="product.preview" [alt]="product.name" />
      <h3>{{ product.name }}</h3>
      <div>{{ product.price }}</div>
    </div>
  </div>
</div>
